body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4569a0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #4569a0;
    color: white;
}

#blog-preview {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#blog-preview h2 {
    margin-top: 0;
}

#blog-preview img {
    max-width: 50%;
    height: auto;
}

#blog-preview video {
    width: 50%;
    height: auto;
}
